/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 

    background-image: url("https://wallpapercave.com/wp/wp2092975.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;

}
